#general
nose
sphinx

ipdb
ipython
Fabric
Django
requests
path.py
psycopg2
python-dateutil
urlobject

#dependencies
# dep for django-compressor
BeautifulSoup
# dep for easy-thumbnails
PIL

# dep for requests
certifi==0.0.8
chardet==1.0.1
pycrypto==2.5
ssh==1.7.13


#django specific
django-castor
django-compressor
django-extensions
django-pagination
django-uni-form
easy-thumbnails
South
