{% extends "content.html" %}

{% load url from future %}
{% load i18n %}
{% load uni_form_tags %}

{% block main %}

    <h1>{% trans "Password vergessen" %}</h1>

    <form method="post">
        {% csrf_token %}

        <div>{{form|as_uni_form}}</div>

        <div>
            <button type="submit">{% trans "Passwortlink zuschicken" %}</button>
        </div>
        <hr />
        <p class="right">
            <a href="{% url 'home' %}" class="back">{% trans "Zurück" %}</a>
        </p>
    </form>

{% endblock %}
