{% extends "content.html" %}

{% load url from future %}
{% load i18n %}
{% load uni_form_tags %}

{% block main %}

    <h1>{% trans "Password zurücksetzen" %}</h1>

    {% if validlink %}
    <form method="post">
        {% csrf_token %}

        <div>{{form|as_uni_form}}</div>

        <div>
            <button type="submit">{% trans "Passwort zurücksetzen" %}</button>
        </div>
    </form>
    {% else %}

        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}

{% endblock %}
