{% extends "content.html" %}

{% load url from future %}
{% load i18n %}
{% load uni_form_tags %}

{% block main %}

    <h1>{% trans "Password vergessen?" %}</h1>

    <div>
        {% blocktrans %}
        Ein Email zum Ändern des Passworts wurde an die Ihre Emailadresse geschickt.
        Bitte überprüfen Sie Ihren Posteingang oder auch den Spam-Ordner.
        {% endblocktrans %}

        <div>
            <a href="{% url "home" %}">{% trans "Zurück" %}</a>
        </div>
    </div>
{% endblock %}