{% extends "content.html" %}

{% load url from future %}
{% load i18n %}
{% load uni_form_tags %}

{% block main %}


    <form method="post">
        {% csrf_token %}

        <fieldset>
            <legend>{% trans "Password ändern" %}</legend>
        <div>{{form|as_uni_form}}</div>

        <div class="ctrlHolder">
            <button type="submit">{% trans "Passwort ändern" %}</button>
            <a href="{% url 'home' %}"><div class="back">{% trans "Zurück zur Startseite" %}</div></a>
        </div>
        </fieldset>
    </form>

{% endblock %}
